  <div id="main">
    <div id="sub">
  <h1>New Article</h1>
       <ul id="menu">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", pages_about_path %></li>
         <li><%= link_to "Alpha-Blog", articles_path %></li>
     </ul>
<div id="form">
<%= render 'form' %>


    </div>

    </div>
    <footer>&copy2016 BadgerTex.com</footer>
</div>